@{
    IEnumerable<PortfolioBuilder.ViewModels.PhotoDataViewModel> photos = ViewBag.PhotosList;
}

<div class="config-box item-sorter item-resizer item-deleter">
    <div class="all-options-box">
        <button class="btn btn-outline-primary option-button add-option-button" data-toggle="button" aria-pressed="false">Add Photos</button>
        <button class="btn btn-outline-danger option-button delete-option-button" data-toggle="button" aria-pressed="false">Remove Photos</button>

        <div class="option-box add-option-box">
            <div class="config-carousel item-sorter-not-displayed item-resizer-ignore item-deleter-ignore">
                @foreach (var photo in photos.Where(ph => ph.Selected == false))
                {
                    <partial name="Config Boxes/Photo/_PhotoDisplayBoxPartial" model="photo" />
                }
            </div>

            <div class="config-box-msg">
                <p>Drag the photos that you want to add into the box below</p>
                <i class="fas fa-arrow-down fa-2x"></i>
            </div>
        </div>

        @*Cannot use partial due to inclusion of model and direct delete functionality, not to be included here*@
        <div class="option-box delete-option-box">
            <div class="float-left">
                <button class="btn btn-outline-danger select-all-button" type="button">Select All</button>
                <button class="btn btn-outline-danger deselect-all-button" type="button">Deselect All</button>
            </div>

            <div class="float-right">
                <button class="btn btn-outline-danger delete-button" type="button">Remove</button>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="items-to-display item-sorter-display item-resizer-display item-deleter-display">
        <div class="config-box-msg item-sorter-msg item-deleter-msg">
            <p><i class="fas fa-images fa-2x"></i></p>
            <p>Drag and drop photos here from above to add them to the page. You can also sort and shuffle them about however you wish!</p>
        </div>

        @foreach (var photo in photos.Where(ph => ph.Selected == true).OrderBy(ph => ph.Position))
        {
            <partial name="Config Boxes/Photo/_PhotoDisplayBoxPartial" model="photo" />
        }
    </div>

    @*Setter Inputs*@
    <div class="item-setter item-sorter-setter item-deleter-setter">
        @foreach (var photo in photos)
        {
            <div>
                <input type="checkbox"
                       class="set-selected"
                       name="selectedPhotos"
                       value="@photo.PhotoId"
                       @(Html.Raw(photo.Selected ? "checked=\"checked\"" : "")) />
                <input type="number"
                       class="set-id"
                       name="photoIds"
                       value="@photo.PhotoId"
                       readonly />
                <input type="number"
                       class="set-position"
                       name="selectedPhotoPositions"
                       min="0"
                       value="@photo.Position" />
                <input type="number"
                       class="set-width"
                       name="selectedPhotoWidths"
                       min="1"
                       max="12"
                       value="@photo.Width" />
            </div>
            <br />
        }
    </div>
</div>
